<div>
    <div id="github"></div>
    <script data-require="jquery@2.1.4" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script data-require="react@*" data-semver="0.14.2" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.2/react.min.js"></script>
    <script data-require="react-with-addons@0.14.0" data-semver="0.14.0" src="http://fb.me/react-with-addons-0.14.0.js"></script>
    <script data-require="react-dom@0.14.0" data-semver="0.14.0" src="http://fb.me/react-dom-0.14.0.js"></script>
    <script src="/assets/githubsummary.js"></script>
</div>
